---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/home/Projects.astro';
import Bio from '../components/home/Bio.astro';
import Blog from '../components/home/Blog.astro';
---

<Layout title="aaronik">
    <div class="flex flex-col space-y-10">
        <Bio />
        <Projects />
        <Blog />
    </div>
</Layout>
