---
import { getCollection } from 'astro:content';
import PostCard from '../PostCard.astro';
const allBlogPosts = await getCollection('blog');

interface Props {
  class?: string
}

const { class: cls } = Astro.props
---

<section class={"mt-2 flex flex-col items-center " + cls}>
    <h2 id="blog" class="scroll-mt-24 pb-2 mb-6 text-3xl font-bold border-b border-gray-700 w-full text-center md:text-left">Blog</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {
            allBlogPosts
                // The sorting means name your md file in order starting with 01, 02, 03, etc.
                .sort((a, b) => (a.filePath < b.filePath ? -1 : 1))
                .map((post: { data: any }) => {
                    const { title, slug, imgSrc, description, draft } = post.data;
                    if (draft) {
                        return;
                    }
                    return <PostCard href={'/post/' + slug} {...{ title, imgSrc, description }} />;
                })
        }
    </div>
</section>
