---
import Project from '../Project.astro';

interface Props {
  class?: string
}

const { class: cls } = Astro.props
---

<section class={"mt-2 flex flex-col items-center " + cls}>
    <h2 id="projects" class="scroll-mt-24 pb-2 mb-6 text-3xl font-bold border-b border-gray-700 w-full text-center md:text-left">Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        <Project
            title="Browser Network"
            href="https://github.com/browser-network"
            imgSrc="images/browser-network.png"
            description="A suite of libraries designed to enable truly serverless web app development. Send cryptographically secure messages back and forth across an arbitrarily large network designed for rapid connection and high availability. Includes cryptography library, serverless, distributed database, and a dead simple switchboard."
            rating={5}
            reason="Distributed network, cryptographically secure messaging, decentralized storage, easy to use API -- super cool"
        />
        <Project
            title="Evolving Ecosystem"
            href="https://github.com/aaronik/evolution"
            imgSrc="images/evolving-ecosystem.png"
            description="This is a full on ecosystem of lifeforms, each with a neural net and its own genome, with food and danger, with evolutionary pressures. Every time you let it evolve a different system comes about. I've seen competition for food, I've seen cooperative strategies. I've even seen lifeforms sacrifice themselves for the betterment of the group. Evolution is an incredibly interesting thing to watch take place! This project is written in Rust and uses tui-rs to create a command line based UI."
            rating={5}
            reason="Uses an evolutionary algorithm to evolve automatons with neural nets to thrive in a simulated ecosystem, written in rust. Doesn't get cooler."
        />
        <Project
            title="Sequencer"
            href="https://sequencer.aaronik.com"
            imgSrc="images/sequencer.png"
            description="A musical instrument built using web technologies including Tone.js and React.js. Uses browser network to facilitate saving to the cloud and sharing your creations. Prepare to waste a lot of time experimenting with different patterns and tunings!"
            rating={3}
            reason="Technically simple, but real fun to play with! Saves and shares using browser-network. Pretty cool!"
        />
        <Project
            title="GPTModels.nvim"
            href="https://github.com/aaronik/gptmodels.nvim"
            imgSrc="images/gptmodels.png"
            description="A neovim plugin designed to integrate AI into your neovim workflow. Written in Lua, TDD, with a focus on stability. LSP Diagnostic aware, capable of communicating with Ollama hosted local models and Openai models. Includes file and selection inclusion."
            rating={2}
            reason="Just an AI interface in neovim. Has modest usage, but still needs lots features and smoothing out."
        />
        <Project
            title="Treewalker.nvim"
            href="https://github.com/aaronik/treewalker.nvim"
            imgSrc="images/treewalker.png"
            description="My most popular open source contribution - a neovim plugin that lets you walk around your code's abstract syntax tree. Harder to implement than you think it should be, and there have been no good alternatives for years."
            rating={4}
            reason="Cool because it has >400 stars, and potentially thousands of active users. Found a need and made a solution."
        />
        <Project
            title="Music Theory Wheel"
            href="https://www.musictheory.page?new-wheel"
            imgSrc="images/music-theory-wheel.png"
            description="An interactive tool designed to help educate about and familiarize with the seven primary musical modes in western music"
            rating={2}
            reason="Simple page, but with some interactivity. Brought an idea to life for a friend."
        />
        <Project
            title="Asteroids"
            href="https://asteroids.aaronik.com"
            imgSrc="images/asteroids.png"
            description="A serverless multiplayer take on the classic. Uses Browser Network to achieve serverless multiplayer functionality. Built with React.js and HTML5 Canvas."
            rating={3}
            reason="Interactive, multiplayer, serverless game. The classic. Pretty cool :)"
        />
        <Project
            title="Node Quic"
            href="https://github.com/aaronik/node-quic"
            imgSrc="images/node-quic.png"
            description="node-quic is a dead simple stream based QUIC server / client for use in node.js. QUIC is an improvement over TCP that uses UDP but without information loss."
            rating={1}
            reason="Old, simple. Wrapper around a different quick library."
        />
        <Project
            title="Shardus DB"
            href="https://gitlab.com/shardus/applications/shardus-db"
            imgSrc="images/shardus-db.png"
            description="A dead simple, clean, and powerful API for Shardus, the distributed and decentralized technology behind the Shardium crypocurrency"
            rating={2}
            reason="The result of an Aha moment, an elegant library on top of the Shardus L1 ledger."
        />
        <Project
            title="Modes"
            href="https://modes.aaronik.com"
            imgSrc="images/modes.png"
            description="A quick and dirty exploration of all of the musical modes possible within a 12 note scale. Expect an ear opening experience rather than an eye pleasing one ;)"
            rating={2}
            reason="Very simple, single page. But shows some cool things about our 12 notes. Kinda interesting."
        />
        <Project
            title="Crypto Trading Bot"
            href="/"
            imgSrc="images/crypto-trading-bot.png"
            description="Now offline, I spent a lot of time on and had some moderate successes with a trading bot that automated trading cryptocurrencies. As time went on, exchanges became more established and charged higher trade rates, and winning became harder and harder. Eventually I took this offline in favor of a hodl approach, but I wanted it in here because it represented a lot of work over a good course of my life. Uses regression to the mean, bolinger band, and trailing stop loss based strategies. "
            rating={2}
            reason="Technically simple, but with some interesting math. Cool because of how empowering it was to build."
        />
        <Project
            title="Blob Wars"
            href="https://blobs.aaronik.com"
            imgSrc="images/blob-wars.png"
            description="A 3D game-in-progress that utilizes Browser Network to achieve serverless multiplayer. This game is a new take on a style of casual game that I love."
            rating={1}
            reason="Just a game idea. Kinda fun to play with for a minute."
        />
        <Project
            title="Evolutionary Conway"
            href="https://github.com/aaronik/conway"
            imgSrc="images/evolutionary-conway.png"
            description="A blazingly fast version of Conway's Game of Life written in Rust. Uses an evolutionary algorithm to find interesting starting configurations. Colorizes output based on cell age."
            rating={4}
            reason="An evolutionary algorithm to find cool Game of Life starting positions. Very cool!"
        />
        <Project
            title="AI CLI Tools"
            href="https://github.com/aaronik/ai-functions"
            imgSrc="images/ai-cli-tools.png"
            description="A collection of CLI utilities for easily interacting with OpenAI AIs"
            rating={3}
            reason="Relatively simple tools, but with a really tight CLI interface. Very practical."
        />
    </div>
</section>
