---
const year = new Date().getFullYear()
---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm text-gray-500 font-mono tracking-wide text-right">aaronik.com © { year }</p>
</footer>
