// Place all the styles related to the home_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Aaron Sullivan alias Aaronik alias Aaroneous 2013 */

html {
	overflow:hidden; // No scroll bar
}
body{
	background:black;
}


/******************************************************************/
#sun{
	z-index:2; /* for layer ordering | the higher the index, the closer the layer to your face. */ 
	margin-top:-205px; //Lest the image's top left corner be centered
	margin-left:-185px;
	transition:all 0.8s;
	cursor:pointer;

	&:hover {
		-webkit-transform:scale(1.02,1.02);
	}
}
.corona_divs{				/* The divs must be so I can have both orbit and scale */
	z-index:1;
	margin-top:-130px;
	margin-left:-100px;
	transition:all 0.8s;
}
.coronas{
	-webkit-transition:all 1s;
	cursor:pointer;

	&:hover {
		-webkit-transform:scale(1.1,1.1);
	}
}
/*******************************************************************/
$STAGER_COLOR:#A14F00;
.stagers{
	display:none;
	font-family: 'Ariel Bold';
	font-size:18px;
	background:$STAGER_COLOR;
	border-radius:10px;
	padding:10px;
	box-shadow:$STAGER_COLOR 0px 0px 5px 5px;
	text-align:center;
	width:42%;

	a {
		text-decoration: none;
	}

	h2 {
		font-family: 'Londrina Sketch';
		font-size:40px;
		background:#D7B300;
		border-radius:10px;
		border:1px solid black;
		box-shadow:black 3px 3px 3px 3px;
	}

	h3 {
		background:#591B23;
		border-radius:10px;
		border:1px solid black;
		box-shadow:black 2px 2px 2px 2px;
	}

	p {
		border-radius:10px;
		box-shadow:black 1px 1px 1px 1px;
		background:#51B336;
	}

	img{
		padding:10px 40px 0px 40px;
	}
}
#resume_image{
	cursor:pointer;
}
#music{
	audio {
		vertical-align: middle;
		float: right;
	}
	p {
		height:30px;
		text-align:left;
		padding: 5px;
	}
}
#philosophy{
	p{
		border:1px solid black;
		padding:10px;
	}
}
$BUTTON_COLOR:darkblue;
$BUTTON_HOVER_COLOR:darkred;

.new_table{ //direct child of .stagers, BIG ONE
	display:-webkit-box;
	padding:1px 2px 1px 2px;

	div{
		cursor:pointer;
		-webkit-box-flex:1;
		text-align:center;
		background:$BUTTON_COLOR;
		border-radius:10px;
		box-shadow: black 1px 1px 1px 1px;
		color:white;
		padding:8px;
		margin:2px;
		opacity:0.8;
		-webkit-transition: opacity 0.3s, background 0.5s;

		&:hover{
			background:$BUTTON_HOVER_COLOR;
		}
	}

	a{
		display:-webkit-box;
		-webkit-box-flex:1;
	}
}

/***** addable classes *******/
.hidden{					/* The coronas will have this class added to them when they are clicked on */
	opacity:0.4;
}
.hidden2{
	opacity:0.0;
}
.centered{				/* All b/c the sun won't move aside damnit thinks it's the center of the solar system. */
position:absolute;
left:50%;
top:55%;
}
.moved_aside{
	position:absolute;
	left:70%;
}

/*************************/
.key_line{
	color:white;
	font-family:"Comic Sans MS";
	font-weight:bold;
	font-size:large;
	padding:20px;
	transition: opacity 0.5s;
	position: absolute;
	z-index:-1;

	img {
		vertical-align:middle;
	}
}
#key_line_music {
	top:10%;
	left:10%;
}
#key_line_business {
	top:10%;
	right:10%;
}
#key_line_philosophy{
	top:40%;
	left:4%;
}
#key_line_program{
	top:40%;
	right:4%;
}
#key_line_web{
	bottom:10%;
	left:8%;
}
#key_line_what{
	bottom:10%;
	right:10%;
}
/*************************/
.program_iframe_wrapper{
	display:none;
	background:lightgrey;
	position:absolute;
	z-index:3;
	top:10%;
	right:10%;
	width:45%;
	height:80%;
	box-shadow:lightgrey 0px 0px 2px 2px;
	border-radius:10px;
}
.program_iframes{
	background:lightgrey;
	width:95%;
	height:88%;
	position:absolute;
	left:2%;
	top:10%;
}
.iframe_button_wrappers{

	div {
		background:darkgrey;
		box-shadow: black 1px 1px 1px 1px;
		cursor:pointer;
		width:30%;
		float:left;
		text-align:center;
		padding:8px;
		margin:8px;
		border-radius: 10px;
		transition: all 0.5s;
		color:white;

		&:hover{
			background:grey;
		}
	}
}

/******************** KEYFRAME ANIMATIONS *************************/

$ORBIT_DURATION: 70s;

#corona1_div{ 
	-webkit-animation: orbit1 $ORBIT_DURATION linear infinite; 
	-moz-animation: orbi1 $ORBIT_DURATION linear infinite;
}
#corona2_div{ 
	-webkit-animation: orbit2 $ORBIT_DURATION linear infinite; 
	-moz-animation: orbi2 $ORBIT_DURATION linear infinite;
}
#corona3_div{ 
	-webkit-animation: orbit3 $ORBIT_DURATION linear infinite; 
	-moz-animation: orbi3 $ORBIT_DURATION linear infinite;
}
#corona4_div{ 
	-webkit-animation: orbit4 $ORBIT_DURATION linear infinite; 
	-moz-animation: orbi4 $ORBIT_DURATION linear infinite;
}
#corona5_div{ 
	-webkit-animation: orbit5 $ORBIT_DURATION linear infinite; 
	-moz-animation: orbi5 $ORBIT_DURATION linear infinite;
}
#corona6_div{ 
	-webkit-animation: orbit6 $ORBIT_DURATION linear infinite; 
	-moz-animation: orbi6 $ORBIT_DURATION linear infinite;
}

// $CORONA_DISTANCE: 135%;
$CORONA_DISTANCE: 240px;

@-webkit-keyframes orbit1 {
	from { -webkit-transform: rotate(0deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(360deg) translateX($CORONA_DISTANCE); }
}
@-moz-keyframes orbit1 {
	from { -webkit-transform: rotate(0deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(360deg) translateX($CORONA_DISTANCE); }
}

@-webkit-keyframes orbit2 {
	from { -webkit-transform: rotate(60deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(420deg) translateX($CORONA_DISTANCE); }
}
@-moz-keyframes orbit2 {
	from { -webkit-transform: rotate(60deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(420deg) translateX($CORONA_DISTANCE); }
}

@-webkit-keyframes orbit3 {
	from { -webkit-transform: rotate(120deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(480deg) translateX($CORONA_DISTANCE); }
}
@-moz-keyframes orbit3 {
	from { -webkit-transform: rotate(120deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(480deg) translateX($CORONA_DISTANCE); }
}

@-webkit-keyframes orbit4 {
	from { -webkit-transform: rotate(180deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(540deg) translateX($CORONA_DISTANCE); }
}
@-moz-keyframes orbit4 {
	from { -webkit-transform: rotate(180deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(540deg) translateX($CORONA_DISTANCE); }
}

@-webkit-keyframes orbit5 {
	from { -webkit-transform: rotate(240deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(600deg) translateX($CORONA_DISTANCE); }
}
@-moz-keyframes orbit5 {
	from { -webkit-transform: rotate(240deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(600deg) translateX($CORONA_DISTANCE); }
}

@-webkit-keyframes orbit6 {
	from { -webkit-transform: rotate(300deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(660deg) translateX($CORONA_DISTANCE); }
}
@-moz-keyframes orbit6 {
	from { -webkit-transform: rotate(300deg) translateX($CORONA_DISTANCE); }
	to   { -webkit-transform: rotate(660deg) translateX($CORONA_DISTANCE); }
}
