<div id="business" class="stagers">
	<h2>Business Templates</h2>
	<div class="new_table">
		<%= link_to "http://www.aaronik.com/Grunge/index.html" do %><div>Grunge</div><% end %>
	</div>
	<div class="new_table">
		<%= link_to "http://www.aaronik.com/School/site/index.html" do %><div>School</div><% end %>
	</div>
</div>
