<div id="music" class="stagers">
	<h2>Musical Tidbits</h2>			
	<p>
		iPad / late 2011 - "Meditation Alarm"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/Meditation Alarm.mp3" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>
	<p>
		lmms / early 2013 - "The Jolly Space Man"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/The Jolly Space Man.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>
	<p>
		lmms / early 2013 - "A Study on Bells"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/A Study on Bells.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>
	<p>	
		lmms / early 2013 - "Kickin it Back on Earth"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/Kickin it Back on Earth.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>
	<p>	
		lmms / early 2013 - "Koh Samet"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/Koh Samet.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>	
	<p>	
		lmms / early 2013 - "The Struggle and the Growth"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/The Struggle and the Growth.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>
	<p>	
		lmms / early 2013 - "Off 8"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/Off 8.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</p>
	<p>
		ipad / 2012 - "Bass Candy"
		<audio controls preload="metadata" autobuffer>
			<source src="private/audio/Bass Candy.wav" />
			<source src="private/audio/audio.mp3" />
			Your browser does not support html5 audio.  Sorry.
		</audio>
	</div>
