<div id="philosophy" class="stagers">
	<h2>Philosophical Musings</h2>
	<p>The internet is big, but the world is bigger.</p>
	<p>we are lucky to live in this time of great change.  We were born on a knee of human evolution.  Exciting times.  However, we are responsible for these times.  This is our legacy.  The new step of human evolution will be crafted for better or for worse depending on how we decide to act, or don't. This is our gift to posterity.  This is our gift to humanity.</p> 
	<p>
		I think there is a modern mental quicksand about the internet.  One person has a cool idea once in their life.  They throw it online.
		Same happens with another idea, another person, another time.  Now both those ideas are online for one to gander.  Ad infinitum.  Now one <strong>must</strong> understand the effort and energy that went in to each idea, lest they succumb to helplessness and smallness and mental quicksand.
	</p>
</div>
