<div id="program" class="stagers">
	<h2>Computer Language</h2>
	<h3>Click a program to expand</h3>
	<div class="new_table program_button">
		<div id="ap">ap</div>
	</div>
	<div class="new_table program_button">
		<div id="sm">sm</div>
	</div>
	<div class="new_table program_button">
		<div id="darp">darp</div>
	</div>
	<div class="new_table program_button">
		<div id="dict">dict</div>
	</div>
	<div class="new_table program_button">
		<div id="ips">ips</div>
	</div>
	<div class="new_table program_button">
		<div id="kn">kn</div>
	</div>
	<div class="new_table program_button">
		<div id="trix">trix</div>
	</div>
	<div class="new_table program_button">
		<div id="webscan">webscan</div>
	</div>
	<div class="new_table program_button">
		<div id="webscano">webscano</div>
	</div>
</div>