<div id="web" class="stagers">
	<h2>My History of Web Design</h2>	

	<div class="new_table">
		<a href="http://www.aaronik.com/home.html"><p>Home 1</p></a>
		<a href="http://www.aaronik.com/home2.html"><p>Home 2</p></a>
	</div>

	<div class="new_table">
		<a href="http://www.aaronik.com/index1.html"><p>The Beginning</p></a>
	</div>

	<div class="new_table">
		<a href="http://www.aaronik.com/index2.html"><p>Towards the Middle(ish)</p></a>
	</div>

	<div class="new_table">
		<a href="http://www.aaronik.com/index3.html"><p>Button Notes</p></a>
	</div>

	<div class="new_table">
		<a href="http://www.aaronik.com/jindex.html"><p>A JS Page</p></a>
		<a href="http://www.aaronik.com/jindex2.html"><p>A JS Page 2</p></a>
	</div>

</div>
