<div id="web" class="stagers">
	<h2>My History of Web Design</h2>	

	<div class="new_table">
		<%= link_to "http://the.tonelot.us" do %><div>ToneLotus</div><% end %>
		<%= link_to "http://asteroids.aaronik.com" do %><div>Asteroids</div><% end %>
	</div>

</div>
