<div id="web" class="stagers">
	<h2>My History of Web Design</h2>	

	<div class="new_table">
		<a href="home.html"><p>Home 1</p></a>
		<a href="home2.html"><p>Home 2</p></a>
	</div>

	<div class="new_table">
		<a href="index1.html"><p>The Beginning</p></a>
	</div>

	<div class="new_table">
		<a href="index2.html"><p>Towards the Middle(ish)</p></a>
	</div>

	<div class="new_table">
		<a href="index3.html"><p>Button Notes</p></a>
	</div>

	<div class="new_table">
		<a href="jindex.html"><p>A JS Page</p></a>
		<a href="jindex2.html"><p>A JS Page 2</p></a>
	</div>

</div>
